/* styles.css */

.hidden {
  display: none;
}


HTML CSSResult Skip Results Iframe EDIT ON
/* https://codepen.io/DuskoStamenic/pen/ZEvBKdw */
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap";

:root {
  --color: rgb(63 63 63);
}


body, h1, h2, h3, h4, h5, h6 {
  color: rgb(56, 56, 56);
}
h1, h2, h3, h4, h5, h6 {
  font-weight:lighter; /* Makes the font weight of all heading tags lighter */
}


/* #name {
  position: fixed;
  top: 10px;
  color: yellow;
} */



body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}

h3,h4 {
  padding-top: 10px;


}

/* Style the navigation links */
li {
  display: list-item;
  margin-right: 10px;
  padding-left: 0;
}






.case-study-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom:0;
margin: 0px;
}

.case-study-intro img {
  max-width: 100%; /* Ensures the image doesn't overflow its container */
  height: auto; /* Maintains the image's aspect ratio as it's resized */
padding-top: 0;}


.intro-text {
  padding:0;
}

.intro-text h2 {
  font-size: 3.3em; /* Adjust as needed */
  font-weight: lighter; /* Adjust as needed */
  text-align: left;
  padding-bottom: 0;
  margin: 0px;
  margin-top: 20px;
}
.case-study-intro p {
  text-align: left;
  font-size: 22px;
  margin-top: 20px;

}








.NAVtest li {
  color: rgb(56, 56, 56);
  list-style-type: circle;
  padding-bottom: 10px;
  line-height: 2;
  font-size: 16px;

}

hr {
  border: none;
  border-top: 1px solid rgb(56, 56, 56); /* Change 'black' to any color you want */
  width: 100%; /* This will make the line span the full width of its parent */
}

.NAVtest ul {
  padding-left: 0;
  font-size: 16px;


}

.containerTest {
  width: 100%; /* This will make the container span the entire width of its parent */
  background-color: rgb(255, 255, 255);
  text-align: left;
}


.containerTest .innerContainer:nth-child(odd) {
  background-color: rgb(240, 243, 250); /* Change this to the color you want for odd-numbered innerContainers */
}

.containerTest .innerContainer:nth-child(even) {
  background-color: #ffffff; /* Change this to the color you want for even-numbered innerContainers */
  padding: top 20px;

}

.innerContainer .smaller-image {
  width: 30%; /* Adjust this value to change the width of the images */
  height: auto; /* This will maintain the aspect ratio of the images */
}
.innerContainer .smaller-image2 {
  width: 60%; /* Adjust this value to change the width of the images */
  height: auto; /* This will maintain the aspect ratio of the images */
}

.innerContainer {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20%;
  padding-right: 20%;
  overflow-x: hidden;
  justify-content: center; /* centers children horizontally */
  align-items: center; /* centers children vertically */



}

.innerContainer p.lastP{
  padding-bottom: 60px;
}
.innerContainer h4{
  padding: 0px;
  margin: 0px;
  font-size: 1.5em;
}

.innerContainer img {
  width: 80%; /* Make the images take up 80% of the width of the .innerContainer */
  height: auto; /* This will maintain the aspect ratio of the images */
  padding-bottom: 40px;
  padding-top: 30px;
}

.innerContainer p {
  align-items: left; /* Vertically center the text and the image */
}

.innerContainer h3 {
padding-top: 80px;
font-size: 2em; /* Makes the font size of h3 and h4 tags within .innercontainer larger */

}

.innerContainer p img {
  margin-left: 20px; /* Add some space between the text and the image */
  min-width: 250px; /* Set a minimum width for the images */
  min-height: 200px; /* Set a minimum height for the images */
  width: 100%; /* Make the images take up the full width of the p element */
  height: auto; /* This will maintain the aspect ratio of the images */
  object-fit: cover; /* This will crop the images to fit the dimensions */
  margin-left: 20px; /* Add some space between the text and the image */

}

.innerContainer p.textFirst {
  display: flex; /* Make the p element a flex container */
  flex-direction: row; /* Make the text appear before the image */
  align-items: center; /* Vertically center the text and the image */
}

.innerContainer p.textFirst img {
  margin-left: 40px; /* Increase the space between the text and the image */
}

.innerContainer p.imageFirst {
  display: flex; /* Make the p element a flex container */
  flex-direction: row-reverse; /* Make the image appear before the text */
  align-items: center; /* Vertically center the text and the image */
}

.innerContainer p.imageFirst img {
  margin-right: 40px; /* Increase the space between the text and the image */
}

.innerContainer div {
  width: 100%; /* This will make the div span the entire width of its parent */
  padding: 20px 0; /* Top and bottom padding is 20px, left and right padding is 0 */
}


.parallax-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*  this is where the magic happens:  */
  background-attachment: fixed;

  background-image: url("bkg.jpg");
  background-size: cover; /* Add this line */

  color: var(--color);
  row-gap: 0rem;
  text-align: center;
}

.buffer {
  width: 100%;
  min-height: 30vh;
  background-color: var(--color);
  display: flex;
  justify-content: center;
  /* Horizontal centering */
  align-items: center;
  /* Vertical centering */
  height: 50vh;
  /* Full height of the viewport */
}

.parallax-container2 {
  flex-direction: row;
  flex-wrap: wrap;
/* background-color: #bfc2d4; */
   padding-bottom:  10rem; 
   background-image: url("output-onlinepngtools.png"); /* Add this line */

   /* background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%); */
  /* background-image: URL(https://images.unsplash.com/photo-1585424536945-26663ea69d52?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80); */
  gap: 1.6em;
  position:relative;
  background-repeat: no-repeat; /* Prevents the background image from repeating */

}

/* .parallax-container2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('bkg2.jpg');
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.5; /* Adjust to your preference */ 

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5em;
  /* Adjust this value to change the space below the h1 element */
  padding-bottom: 20px;
  padding-left: 15px;
}

p {
  line-height: 1.5;
  margin-top: 0.5em;
  /* Adjust this value to change the space above the p element */
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  font-size: 16px;
  padding-bottom: 10px;
  line-height: 2;

}

a {
  display: inline-block;
  padding: 1em 3.5em;
  border-radius: 0.3em;
  background-color: var(--color);
  color: rgb(56, 56, 56);
  font-size: 0.875rem;
  font-weight:light;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
}
#name a {
  padding-left: 40px;
  font-family: 'Vibur', cursive; /* Replace 'Vibur' with your font name */
  font-size: 20px;
  text-decoration: none;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  pointer-events: all;
  justify-content: center;
  /* Center items horizontally */
  align-items: center;
  /* Center items vertically */
  text-align: center;
  margin: auto;
}


.card {
  margin: 0% 0;
  width: 100%;
  min-height: 65vh; /* This will make the card at least as tall as the viewport */
  /* Adjust this value as needed */
  padding: 30px 30px 110px;
  background-color: rgb(255, 255, 255,0.8);
  box-sizing: border-box;
  pointer-events: none;

}

.card-content {
  padding-top: 50px;
  display: flex;
  height: 100%;
  /* Add this line */
}


.card-img {
  flex: 1;
  background-position: center;
  background-size: contain; /* This will make the image 50% of its original size */
  background-repeat: no-repeat;
  background-image: url('casestudy2_img.png');
  min-height: 400px;
  /* Adjust this value as needed */
  padding: 0px 10%;
  
}

.card-text {
  flex: 1;
  padding: 20px 5%;
  /* Increase these values as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}
.card-text h3,
.card-text h4 {
  font-weight: normal; /* or use numeric values like 400 */
  
}







.card-img, .card-text, #CStitle {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.7s ease-in-out;
}

.card-img.visible, .card-text.visible {
  opacity: 1;
  transform: translateY(0);
}

#CStitle {
  transition: all 0.7s ease-in-out; /* apply ease-in-out transition */
}

#CStitle.visible {
  opacity: 1;
  transform: translateY(0);
}
.card:nth-of-type(2) .card-img {
  background-image: url("thesisimg.png");
}

.card:nth-of-type(3) .card-img {
  background-image: url("A2\ Poster.png");
}


.card:nth-of-type(4) .card-img {
  background-image: url("pawse2.png");
  }


.card:nth-child(even) .card-content {
  flex-direction: row;
}

.card:nth-child(odd) .card-content {
  flex-direction: row-reverse;
}
.card:nth-child(even) {
  background-color: rgba(255, 255, 255); /* Light blue with 50% transparency */
}

.card:nth-child(odd) {
background-image: linear-gradient(to top, rgb(216, 226, 227)rgb(244, 245, 242),)}   /* background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%); */

/*.card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*z-index: 1;  Ensure it covers the entire card 

}*/





@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
  }

  p {
    padding: 5px;
  }

/* 
  .PawseIMG img {
    width: 100%;
    height: auto;
  } */
  PawseIMG {
    grid-template-columns: repeat(2, 1fr);
  }
  .innerContainer{
    padding-left: 5%;
    padding-right: 5%;
  
}
}


@media screen and (min-width: 601px) and (max-width: 900px){ 
  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 17px;
  }

  /* .innerContainer{
    padding-left: 5%;
    padding-right: 5%;
  
  } */
}


@media screen and (max-width: 600px) {

  .card:nth-child(even) .card-content,
  .card:nth-child(odd) .card-content {
    flex-direction: column;
  }
}

.topnav a {
  padding-top: 20px; /* adjust this value to increase or decrease the top padding */
}
.topnav {
  position: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  z-index: 9999;
  /* Any high value to ensure nav is on top */
  background-attachment: fixed; /* This creates the parallax effect */
  background-size: cover; 
  
  /* This makes the image cover the entire .topnav */
}
.index-page .topnav {
  background-image: url("bkg.jpg");
  /* Other styles... */
}


.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  flex-direction: column-reverse;

}


.topnav li {
  float: right;
  margin-right: 16px;
}

/* Add a specific rule for the first list item */
.topnav li:first-child {

  float: left;
  border-bottom: none;
  list-style-type: none;

}

/* Hide the link that should open and close the topnav on small screens */
button {
  padding: 20px 20px;
  background-color: transparent; /* No fill */
  color: rgb(56, 56, 56); /* Text color */
  border: 1px solid rgb(56, 56, 56); /* Black border */
  cursor: pointer;
  pointer-events: auto;
  margin-top: 7%;
  font-size: 15px;
}

.topnav a {
  color: rgb(56, 56, 56);
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  border-bottom: 2px solid transparent;
  /* Initially transparent underline */

}

.topnav a.icon {
  float: right;
  display: block;
  font-size: 30px;
  /* Adjust this value as needed */

}

@media screen and (max-width: 600px) {
  .topnav li:not(:first-child) {
    display: none;

  }


}


@media screen and (min-width: 601px) {
  .topnav a.icon {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive>*:not(:first-child) {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;

  }

  .Introduction h3 {
    font-size:medium; /* Adjust as needed */
    padding:0;
  }

  .Introduction #header {
    font-size: 24px; /* Adjust as needed */
padding-left:40px ;  
padding-right: 10px;
padding-top: 0;
  }
  
  .innerContainer h3 {
    padding-top: 80px;
    font-size: 1.5em; /* Makes the font size of h3 and h4 tags within .innercontainer larger */
    padding-bottom: 10px;
    
    }

  .intro-text h2 {
    font-size: 1.6em; /* Adjust as needed */

  }
  .case-study-intro p {
    font-size: 18px;
    
  }



  .topnav.responsive {

    background-color: #f8f9fa;
    /* Change this to your desired color */
    /* Adjust these values as needed */
  }


/*   
  .topnav.responsive #name {
    
    position:fixed
  }

.topnav.responsive #name a {
  position: fixed !important;
  top: 0;
  /* Adjust as needed */
  /* Adjust as needed */ 


  .topnav.responsive a {
    padding: 60px 0px 0px 0px;
  }

  .topnav.responsive a.icon {
    position: absolute;
    margin: 0;
    right: 0;
  }

  .topnav.responsive li:not(:first-child) {
    float: none;
    display: block;
    text-align: right;

  }
  .topnav.responsive li:nth-child(2) {
    padding: 60px 0px 0px 0px;
}

.card-img {
  background-size: 100%; /* This will make the image cover the full width of its container */
  /* Other properties... */
margin: 0;}

.card-text p.justify-text {
  text-align: left;
padding: 0;
color: rgb(56, 56, 56);
line-height: 2;



}


.container.responsive{
  padding: 0;
  /* Other properties... */margin: 0%;
}

.card:nth-of-type(2) .card-img {
  background-size: 100%; /* Adjust this value as needed */

}

.card:nth-of-type(3) .card-img {
  background-size: 100%; /* Adjust this value as needed */

}

img {
  width: 100%; /* This will make the image cover the full width of its container */
}

.NAVtest li {
  padding-left: 0;
  font-size: 14px;
  padding: 5px;


}
}


#AICON {

  padding: 15px 30px;
  font-size: 25px;
  /* or whatever size you want the icon to be */
}

#CStitle {
  position: center;
  padding-bottom: 30px;
  font-size: 30px;
  font-weight:lighter;
}

#name a {
  padding: 20px; /* Replace with your desired padding */
  position: static; /* Replace with your desired position */
  /* Add any other properties you want to override */
}

.icon:hover {
  text-decoration: none;
  /* No underline on hover */
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.5px; /* Thinner underline */
}



/* Active link style */
#home {
  text-decoration: underline;
  text-decoration-thickness: 0.5px; /* Thinner underline */
}

.footer-text {
  max-width: 70%;
  color: #bebebe;
  text-align: center;
  /* Aligns the text to the center */
  letter-spacing: -.2px;
  margin: 5px auto;
  padding-left: 0px;
  margin-bottom: 1em;
  font-family: Karla, sans-serif;
  font-size: 14px;
  font-weight: 300;
  position: relative;
  /* Keeps the footer at the bottom of the page */
  bottom: 0;
  /* Positions the footer at the bottom */
  left: 0;
  /* Positions the footer to the left */
  right: 0;
  /* Positions the footer to the right */
}


#CaseStudy {
  text-align: left !important;
  margin: 0;
  padding: 0;
  align-self: flex-start;
  color: #6b6b6b;
  font-size: small;
}

.card-text p {
  text-align: left;
  line-height: 1.5;
  padding-right: 70px;

}
.card-text H3 {
  text-align: left;
  line-height: 1.5;

}
.Introduction
{
  margin-bottom: 80px;
}

.Introduction h3,
.Introduction h1,
.Introduction p {
    text-align: left;
    padding-left: 40px;
    padding-right: 40%;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: normal; /* or use numeric values like 400 */
    margin: 4px;

}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-5%); /* start a bit more to the left */
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.Introduction {
  animation: slideInFromLeft 1s ease-out;
}

#header {
font-size: 30px;
padding-top: 0;
line-height: 1.2;
}
.carro {
  display: flex; /* enables flex layout */
  justify-content: center; /* centers children horizontally */
  align-items: center; /* centers children vertically */
  max-width: 70%;
  padding-bottom: 0;
margin-bottom: 0;

}

.carousel {
  position: relative;
  margin: 20px auto; /* add vertical margin and center the carousel horizontally */
  display: block;
  overflow: hidden;



}

.carousel__image {
  height: auto;  display: block; /* ensures the images are block elements */
  margin: 0 auto; /* centers the images horizontally */
  object-fit: cover; /* ensures the image covers its content box without stretching */
  padding: 0 !important;


}

.w3-button {
  color: rgb(56, 56, 56); /* change the text color to black */
  border: 1px solid rgb(56, 56, 56); /* add a thin black border */
  padding: 10px 20px; /* add some padding */
  position: relative; /* position the buttons relatively */
  z-index: 2; /* ensure the buttons are above the images */
  margin: 10px; /* add some margin around the buttons */
  margin-top: 0;
  font-weight: lighter; /* makes the font thinner */

}

.buttons-container {
  display: flex; /* enables flex layout */
  justify-content: center; /* centers children horizontally */
  align-items: center; /* centers children vertically */
  margin-top: 0;
}
@media (max-width: 600px) {
  .carousel__image {
    width: 100%; /* make the images cover the screen */
    height: auto; /* make the images take up the full height of the viewport */
  }
  #buttonUP {
    position: fixed;
    top: 50%;
    left: 50%;
  }

  #buttonUP {
    width: 50px;
    height: 50px;
    background-color: transparent;
    text-align: center;
    border: 1.5px solid#c4c4c4;
    border-radius: 50%;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    line-height: 50px; /* add this to vertically center the caret */
    font-size: 1.2em; /* add this to adjust the size of the caret */
    color: #c4c4c4; /* add this to set the color of the caret */
    font-weight: lighter;
  }



}

/* .button-container {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 20px; /* Adjust this value to change the space between the buttons */


.image-container {
  display: flex;
  flex-wrap: wrap;

}
.image-container img {
  padding: 6px;
}
.image-container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; /* adjust as needed */
  padding: 0;
}

.image-item img {
  width: 100%;
  height: auto;
  padding:0
}

.PawseIMG {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.PawseIMG img {
  padding: 10px;
  max-width: 100%;
}

/* @media (max-width: 600px) {
  .image-container,
  .image-container2,
  .PawseIMG {
    flex-direction: column;
  }
  .image-container2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .image-container img,
  .image-item img,
  .PawseIMG img {
    width: 80%;
  } */
  /* #bird {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 80%;
  } */

  .case-study-intro img {
    max-width: 100%; /* Ensures the image doesn't overflow its container */
    height: auto; /* Maintains the image's aspect ratio as it's resized */
  padding-top: 0;}

  
.next-case-study {
  margin-top: 20px; /* Adds some space above the button */
}

.next-case-study a {
  text-decoration: none; /* Removes the underline from the link */
  color: rgb(108, 108, 108); /* Makes the link the same color as the text */
  font-size: 1.1em; /* Makes the link a bit larger */
}

#buttonUP {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: transparent;
  text-align: center;
  border: 1.5px solid#c4c4c4;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  overflow: hidden;
  padding: 0;
  line-height: 50px; /* add this to vertically center the caret */
  font-size: 1.2em; /* add this to adjust the size of the caret */
  color: #c4c4c4; /* add this to set the color of the caret */
  font-weight: lighter;
}

#buttonUP:hover {
  cursor: pointer;
  background-color:#e6e6e6;
  text-decoration: none; /* add this */

  
}

#buttonUP:active {
  background-color: #e6e6e6;
}

#buttonUP.show {
  opacity: 1;
  visibility: visible;
}
