/* styles.css */

.hidden {
  display: none;
}


HTML CSSResult Skip Results Iframe EDIT ON
/* https://codepen.io/DuskoStamenic/pen/ZEvBKdw */
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap";

:root {
  --color: rgb(63 63 63);
}

#name {
}

#name a {
  padding-left: 40px;
  font-family: 'Vibur', cursive; /* Replace 'Vibur' with your font name */
  font-size: 20px;
  text-decoration: none;


}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}

h3,
h4 {
  padding-top: 10px;


}

/* Style the navigation links */
li {
  display: list-item;
  margin-right: 10px;
  padding-left: 0;
}

.NAVtest li {
  color: rgb(0, 0, 0);
  list-style-type: circle;
  padding-bottom: 10px;
  line-height: 2;
}

hr {
  border: none;
  border-top: 1px solid black; /* Change 'black' to any color you want */
  width: 100%; /* This will make the line span the full width of its parent */
}

ul {
  color: aqua;
  padding-left: 0;

}

.containerTest {
  width: 100%; /* This will make the container span the entire width of its parent */
  background-color: rgb(255, 255, 255);
  text-align: left;
}


.containerTest .innerContainer:nth-child(odd) {
  background-color: #fafafa; /* Change this to the color you want for odd-numbered innerContainers */
}

.containerTest .innerContainer:nth-child(even) {
  background-color: #ffffff; /* Change this to the color you want for even-numbered innerContainers */
  padding: top 20px;

}

.innerContainer .smaller-image {
  width: 30%; /* Adjust this value to change the width of the images */
  height: auto; /* This will maintain the aspect ratio of the images */
}
.innerContainer .smaller-image2 {
  width: 60%; /* Adjust this value to change the width of the images */
  height: auto; /* This will maintain the aspect ratio of the images */
}

.innerContainer {
  margin-left: auto;
  margin-right: auto;
  padding-left: 25%;
  padding-right: 25%;
  

}

.innerContainer p.lastP{
  padding-bottom: 60px;
}
.innerContainer h4
{
  padding: 0px;
  margin: 0px;
}
.innerContainer img {
  width: 80%; /* Make the images take up 80% of the width of the .innerContainer */
  height: auto; /* This will maintain the aspect ratio of the images */
  padding: 50px;
  padding-bottom: 70px;
}

.innerContainer p {
  align-items: left; /* Vertically center the text and the image */
}

.innerContainer h3 {
padding-top: 80px;
}

.innerContainer p img {
  margin-left: 20px; /* Add some space between the text and the image */
  min-width: 250px; /* Set a minimum width for the images */
  min-height: 200px; /* Set a minimum height for the images */
  width: 100%; /* Make the images take up the full width of the p element */
  height: auto; /* This will maintain the aspect ratio of the images */
  object-fit: cover; /* This will crop the images to fit the dimensions */
  margin-left: 20px; /* Add some space between the text and the image */

}

.innerContainer p.textFirst {
  display: flex; /* Make the p element a flex container */
  flex-direction: row; /* Make the text appear before the image */
  align-items: center; /* Vertically center the text and the image */
}

.innerContainer p.textFirst img {
  margin-left: 40px; /* Increase the space between the text and the image */
}

.innerContainer p.imageFirst {
  display: flex; /* Make the p element a flex container */
  flex-direction: row-reverse; /* Make the image appear before the text */
  align-items: center; /* Vertically center the text and the image */
}

.innerContainer p.imageFirst img {
  margin-right: 40px; /* Increase the space between the text and the image */
}

.innerContainer div {
  width: 100%; /* This will make the div span the entire width of its parent */
  padding: 20px 0; /* Top and bottom padding is 20px, left and right padding is 0 */
}


.parallax-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*  this is where the magic happens:  */
  background-attachment: fixed;



  background-image: URL(https://images.unsplash.com/photo-1519120944692-1a8d8cfc107f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80);
  background-position: center;
  background-size: cover;
  color: var(--color);
  row-gap: 0rem;

  text-align: center;
}

.buffer {
  width: 100%;
  min-height: 30vh;
  background-color: var(--color);
  display: flex;
  justify-content: center;
  /* Horizontal centering */
  align-items: center;
  /* Vertical centering */
  height: 50vh;
  /* Full height of the viewport */
}

.parallax-container2 {
  flex-direction: row;
  flex-wrap: wrap;

  /* padding: 2rem 0; */
  background-image: URL(https://images.unsplash.com/photo-1585424536945-26663ea69d52?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80);
  gap: 1.6em;

}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5em;
  /* Adjust this value to change the space below the h1 element */
  padding-bottom: 20px;
  padding-left: 15px;
}

p {
  line-height: 1.5;
  margin-top: 0.5em;
  /* Adjust this value to change the space above the p element */
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  font-size: 17px;
  padding-bottom: 10px;
  line-height: 2;

}

a {
  display: inline-block;
  padding: 1em 3.5em;
  border-radius: 0.3em;
  background-color: var(--color);
  color: rgb(0, 0, 0);
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  /* Remove underline by default */
  color: #333;
  transition: text-decoration 0.5s ease;

}



.container {
  display: flex;
  flex-direction: column;
  pointer-events: all;
  justify-content: center;
  /* Center items horizontally */
  align-items: center;
  /* Center items vertically */
  text-align: center;
  margin: auto;
}


.card {
  margin: 4% 0;
  width: 100%;
  min-height: 65vh;
  /* Adjust this value as needed */
  padding: 30px 30px 110px; /* Increased bottom padding */
  border: 1px solid #ddd;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  pointer-events: none;

}

.card-content {
  padding-top: 50px;
  display: flex;
  height: 100%;
  /* Add this line */
}

/*.card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*z-index: 1;  Ensure it covers the entire card 

}*/





@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 16px;
  }


}



@media screen and (min-width: 601px) and (max-width: 900px) {
  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 17px;
  }


}

.card-img {
  flex: 1;
  background-position: center;
  background-size: 60%; /* This will make the image 50% of its original size */
  background-repeat: no-repeat;
  background-image: url('casestudy2_img.png');
  min-height: 400px;
  /* Adjust this value as needed */
  padding: 0px 10%;
  
}

.card-text {
  flex: 1;
  padding: 20px 5%;
  /* Increase these values as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:nth-of-type(2) .card-img {
  background-image: url("thesisimg.png");
  background-size: 60%; /* Adjust this value as needed */

}

.card:nth-of-type(3) .card-img {
  background-image: url("A2\ Poster.png");
  background-size: 41%; /* Adjust this value as needed */

}

.card:nth-of-type(4) .card-img {
  background-image: url("pawse2.png");
}


.card:nth-child(even) .card-content {
  flex-direction: row;
}

.card:nth-child(odd) .card-content {
  flex-direction: row-reverse;
}

@media screen and (max-width: 600px) {

  .card:nth-child(even) .card-content,
  .card:nth-child(odd) .card-content {
    flex-direction: column;
  }
}

.topnav {
  position: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  z-index: 9999;
  /* Any high value to ensure nav is on top */
  background-color: rgba(255, 255, 255, 0.5);
  /* Black background with 0.5 opacity */
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  flex-direction: column-reverse;

}


.topnav li {
  float: right;
  margin-right: 16px;
}

/* Add a specific rule for the first list item */
.topnav li:first-child {

  float: left;
  border-bottom: none;
  list-style-type: none;

}

/* Hide the link that should open and close the topnav on small screens */
button {
  padding: 20px 20px;
  background-color: transparent; /* No fill */
  color: black; /* Text color */
  border: 1px solid black; /* Black border */
  cursor: pointer;
  pointer-events: auto;
  margin-top: 7%;
  font-size: 15px;
}

.topnav a {
  color: #1d1d1d;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  border-bottom: 2px solid transparent;
  /* Initially transparent underline */

}

.topnav a.icon {
  float: right;
  display: block;
  font-size: 30px;
  /* Adjust this value as needed */

}

@media screen and (max-width: 600px) {
  .topnav li:not(:first-child) {
    display: none;

  }

  .topnav.responsive #name a {
    position: fixed !important;
    top: 0;
    /* Adjust as needed */
    left: 0;
    /* Adjust as needed */
  }


}


@media screen and (min-width: 601px) {
  .topnav a.icon {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive>*:not(:first-child) {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;

  }

  .topnav.responsive {

    background-color: #f8f9fa;
    /* Change this to your desired color */
    /* Adjust these values as needed */
  }

  .topnav.responsive a {
    padding: 60px 0px 0px 0px;
  }

  .topnav.responsive a.icon {
    position: absolute;
    margin: 0;
    right: 0;
  }

  .topnav.responsive li:not(:first-child) {
    float: none;
    display: block;
    text-align: right;

  }
  .topnav.responsive li:nth-child(2) {
    padding: 60px 0px 0px 0px;
}

.card-img {
  background-size: 100%; /* This will make the image cover the full width of its container */
  /* Other properties... */
margin: 0;}

.card-text p.justify-text {
  text-align: justify;
}
.container.responsive{
  padding: 0;
  /* Other properties... */margin: 0%;
}

.card:nth-of-type(2) .card-img {
  background-size: 100%; /* Adjust this value as needed */

}

.card:nth-of-type(3) .card-img {
  background-size: 100%; /* Adjust this value as needed */

}
}
#AICON {

  padding: 15px 30px;
  font-size: 25px;
  /* or whatever size you want the icon to be */
}

#CStitle {
  position: center;
  padding-bottom: 30px;
  font-size: 30px;
}



.icon:hover {
  text-decoration: none;
  /* No underline on hover */
}

a:hover {
  text-decoration: underline;
  /* Underline on hover */
}



/* Active link style */
#home {
  text-decoration: underline;
  /* Underline for active link */
}

.footer-text {
  max-width: 70%;
  color: #bebebe;
  text-align: center;
  /* Aligns the text to the center */
  letter-spacing: -.2px;
  margin: 5px auto;
  padding-left: 0px;
  margin-bottom: 1em;
  font-family: Karla, sans-serif;
  font-size: 14px;
  font-weight: 300;
  position: relative;
  /* Keeps the footer at the bottom of the page */
  bottom: 0;
  /* Positions the footer at the bottom */
  left: 0;
  /* Positions the footer to the left */
  right: 0;
  /* Positions the footer to the right */
}


#CaseStudy {
  text-align: left !important;
  margin: 0;
  padding: 0;
  align-self: flex-start;
  color: #6b6b6b;
}

.card-text p {
  text-align: left;
  line-height: 1.5;
  padding-right: 70px;

}
.card-text H3 {
  text-align: left;
  line-height: 2;

}

.Introduction h3,
.Introduction h1,
.Introduction p {
    text-align: left;
    padding-left: 40px;
    padding-right: 40%;
    padding-top: 0px;
    padding-bottom: 0px;
}

#header {
font-size: 36px;
}



.carousel {
  position: relative;
}
.carousel__image {
  display: none;
  width: 100%;
  margin: auto;
}
.carousel__image:first-child {
  display: block;
}
.w3-button.w3-display-left {
  position: absolute;
  top: 50%;
  left: -40px; /* adjust this value as needed */
  transform: translateY(-50%);
}

.w3-button.w3-display-right {
  position: absolute;
  top: 50%;
  right: -40px; /* adjust this value as needed */
  transform: translateY(-50%);
}

.image-container {
  display: flex;
}
.image-container img {
  padding: 6px;
}
.image-container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; /* adjust as needed */
  padding: 0;
}

.image-item img {
  width: 100%;
  height: auto;
  padding:0
}